table{
    width: 550px;
    height: 550px;
    border-collapse: collapse;
    margin:0 auto;
}
td{

    border: 1px solid black;
}
tr{
    text-align: center;
}
#col1{
    width: 220px;
}
#col2{
    width: 110px;
}
#col3{
    width: 220px;
}
#vs{
    color: orange;
    font-size: 50px;
    font-weight: bold;
}

#result{
    color: red;
    font-size:30px ;
    font-weight:bold;
}
#choice{
    font-weight: bold;
    font-size: 40px;
    color: #fffd4d;
}
